.login_div {
  z-index: 20;
  height: 350px;
  width: 100%;
  border-radius: 10px;
  background-color: #f5f5f5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/src/Assets/loginImage.jpg");
  background-size: cover;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}

.input_pad {
  text-align: center;
}

.input_pad p {
  color: white;
  font-size: 18px;
  font-family: roboto_regular;
}
.input_pad input {
  border: none;
  height: 25px;
  outline: none;
  width: 200px;
  padding: 5px;
}

.login_button {
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 10px;
}

.login_button :hover {
  background-color: black;
  color: lightskyblue;
  font-family: roboto_bold;
}

.header {
  z-index: 50;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.header_grid {
  padding: 10px;
  text-align: center;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid #dcdcdc;
}

.autoswiper_block {
  width: 100%;
  height: 400px;
  margin-top: 100px;
  box-shadow: 5px 10px 8px #888888;
}

.autoswiper_block img {
  height: 500px;
  width: 100%;
  box-shadow: 5px 10px 8px #888888;
}

.categories_block {
  cursor: pointer;
  padding: 10px;
  margin-top: 150px;
  width: 95%;
  font-family: roboto_regular;
  height: 300px;
}

.products {
  cursor: pointer;
  margin-top: 180px;
  width: 90%;
}

.categories_block img {
  height: 250px;
  border-radius: 10px;
  box-shadow: 5px 10px 8px #888888;
}

.products img {
  height: 250px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  padding: 10px;
}

.products_grid {
  height: 398px;
  text-align: center;
  width: 90%;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.cat_grid {
  text-align: center;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media only screen and (max-width: 760px) {
  .during_mobile {
    margin-right: -70px;
  }
}
